/* animacion escribir */
@keyframes typewriten {
    0% {
        width: 0;
    }
    25% {
        width: 25%;
    } /* Jhon<espacio> */
    50% {
        width: 50%;
    } /* Jairo<espacio> */
    75% {
        width: 75%;
    } /* Gelvez<espacio> */
    100% {
        width: 100%;
    } /* Gomez */
}

/* animacion de cambio de color parpadeante */
/* efecto usado en los botones */
@keyframes rgb-shift {
    0% {
        box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
        border: 2px solid rgba(255, 0, 0, 0.7);
    }
    25% {
        box-shadow: 0 0 20px rgba(255, 165, 0, 0.4);
        border: 2px solid rgba(255, 165, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.4);
        border: 2px solid rgba(0, 255, 0, 0.7);
    }
    75% {
        box-shadow: 0 0 20px rgba(0, 0, 255, 0.4);
        border: 2px solid rgba(0, 0, 255, 0.7);
    }
    100% {
        box-shadow: 0 0 20px rgba(255, 0, 255, 0.4);
        border: 2px solid rgba(255, 0, 255, 0.7);
    }
}

/* bombra rgb */
/* usado en el contact */
@keyframes sombra-rgb {
    0% {
        box-shadow: 0 0 25px rgba(255, 0, 0, 0.9); /* Rojo fuerte */
    }
    25% {
        box-shadow: 0 0 25px rgba(0, 255, 0, 0.9); /* Verde neón */
    }
    50% {
        box-shadow: 0 0 25px rgba(0, 255, 255, 0.9); /* Cian brillante */
    }
    75% {
        box-shadow: 0 0 25px rgba(0, 0, 255, 0.9); /* Azul eléctrico */
    }
    100% {
        box-shadow: 0 0 25px rgba(255, 0, 255, 0.9); /* Fucsia */
    }
}

/* tira led rgb */
@property --angulo {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.linea--project::after,
.linea--project::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f14;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Valor más adecuado */
    border-radius: 10px;
    background: conic-gradient(
        from var(--angulo),
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    animation: girar 2s linear infinite;
}

/* esto le da el efecto de brillo */
.linea--project::before {
    filter: blur(24px);
    opacity: 0.5;
}

/* animacion rgb */

@keyframes girar {
    0% {
        --angulo: 0deg;
    }
    100% {
        --angulo: 360deg;
    }
}